/* =========== commom ============ */

/* modal head */
.modal-head{
  margin:10px;
}
.modal-head h1 {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: rgb(60, 179, 113);
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  text-transform: capitalize;
  text-align:center;
}

.modal-head h1:before{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 60px;
  height: 2px;
  content: "";
  background-color: rgb(60, 179, 113);
  left:50%; margin-left:-30px;
}

.modal-head h1 span{
  display: block;
  font-size: 0.5em;
  line-height: 1.0;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 4px;
  line-height: 3em;
  padding-left: 0.25em;
  color: rgba(0, 0, 0, 0.4);
  padding-bottom: 10px;
}

.modal-head h1 em {
  font-style: normal;
  font-weight: 600;
}

.modal-body{
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.project-image-container{
  display: flex;
  justify-content: center;
}


/* work project image */

.project-image{
  
}

/*  project information  */
.information-container{
  margin: 30px;
  padding:5px 30px 30px 30px;
  font-size: medium;
}

.emphasis{
  font-weight: 500;
}
  
.emphasis-skill{
    color: #FF9800;
}

.info-list {
  list-style: none;
  padding-left:0px;
}

.info-list li {
  display: flex;
  align-items: center;
}

.info-list li::before {
  content: '';
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: rgb(60, 179, 113);
  border: 2px solid rgb(60, 179, 113);
  display: block;
  margin-right: 1rem;
}

.list-content{
  padding-left:10px;
}

.work-list{
  list-style-type: circle;
}
  
.work-title{
  font-size: 17.5px;
  font-weight: bold;
}

.work-subtitle{
  font-weight: bold;
}

.skill-tag {
  color: white;
  display: inline-block;
  padding : 3px 5px 3px 5px;
  border-radius: 4px;
  position: relative;
  margin: 0 6px 6px 0;
  font-size: 14.5px;
  font-weight: 400;
}

.backend{
  background-color: #FF9800;
}
.frontend{
  background-color: #FF675B;
}

.ide{
  background-color: #D6568B;
}

.collaboration{
  background-color: #2F4858;
}

.skill-type{
  font-style: italic;
  font-weight: bold;
}

.github-link{
  color: rgb(60, 179, 113);
  text-decoration: underline rgb(60, 179, 113);
}

.star-rating {
  display: flex;
}

.star {
  appearance: none;
  padding: 1px;
}

.star::after {
  content: '☆';
  color: hsl(60, 80%, 45%);
  font-size: 20px;
}

.star:checked::after{
  content: '★';
}


/* =========== enjo-eat ============ */

/* ==== carousel ==== */
#enjo-eat-projectImagesCarousel{
  border : 2px solid lightgray;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); 
  width:600px;
  margin:25px;
}






