---
layout: compress
---

<!doctype html>
<link href="/assets/css/custom/about_me.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="/assets/js/custom/about_me.js"></script>
{% include about_modal.html %}
{% include origin-type.html %}

{% include lang.html %}

{% if site.theme_mode %}
  {% capture prefer_mode %}data-mode="{{ site.theme_mode }}"{% endcapture %}
{% endif %}

<!-- `site.alt_lang` can specify a language different from the UI -->
<html lang="{{ site.alt_lang | default: site.lang }}" {{ prefer_mode }}>
  {% include head.html %}

  <body>
    {% include about_me_sidebar.html lang=lang %}

    <div id="main-wrapper" class="d-flex justify-content-center">
      <div class="container d-flex flex-column px-xxl-5">
     
        <div class="row flex-grow-1">
          
          <main aria-label="Main Content" class="col-12 col-lg-11 col-xl-12 px-md-4">
            {{ content }}
            {% comment %} ===== profile ===== {% endcomment %}
            <div class="row profile-container">
              <div class="col-md-6 col-sm-6">
                <div class="profile-card">
                  <div class="profile-icon">
                    <i class="fa-solid fa-person-hiking"></i>
                  </div>
                  <div class="profile-content">
                      <h3 class="profile-title">안주하기 보다는 도전합니다.</h3>
                      <span class="profile-value">자신을 넘어서기 위한 도전과 성장하는 과정을 즐깁니다.</span>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-6">
                <div class="profile-card">
                    <div class="profile-icon">
                      <i class="fa-solid fa-hand-fist"></i>
                    </div>
                    <div class="profile-content">
                      <h3 class="profile-title">강한 집념으로 해결 방법을 찾아냅니다.</h3>
                      <span class="profile-value">구체적인 목표를 잡고 끈질기게 노력하는 힘을 가지고 있습니다.</span>
                    </div>
                </div>
              </div>
            </div>
            <hr>

            {% comment %}  ===== skills =====  {% endcomment %}
            <h1>My Skills</h1>
            <div class="chip done" style="margin-top:50px;margin-bottom:30px;">
              <div></div>
              현재 사용중 입니다!
            </div>
            <div class="row">
              {% comment %} backend {% endcomment %}
              <div class="col-12 row">
                <h3 class="skill-type">Backend</h3>
                <div class="skill-container using col-md-1">
                  <div class="skill-content">
                    <img class="skill-icon" src="/assets/img/skills_icon/python.png" alt="python"><br>
                    <h6 class="skill-name">Python</h6>
                  </div>
                </div>
                <div class="skill-container using col-md-1">
                  <div class="skill-content">
                    <img class="skill-icon" src="/assets/img/skills_icon/django.png" alt="django"><br>
                    <h6 class="skill-name">Django</h6>
                  </div>
                </div>
                <div class="skill-container using col-md-1">
                  <div class="skill-content">
                    <img class="skill-icon" src="/assets/img/skills_icon/drf.png" alt="drf"><br>
                    <h6 class="skill-name">DRF</h6>
                  </div>
                </div>
                <div class="skill-container using col-md-1">
                  <div class="skill-content">
                    <img class="skill-icon" src="/assets/img/skills_icon/graphql.png" alt="graphql"><br>
                    <h6 class="skill-name">GraphQL</h6>
                  </div>
                </div>
                <div class="skill-container using col-md-1">
                  <div class="skill-content">
                    <img class="skill-icon" src="/assets/img/skills_icon/celery.png" alt="celery"><br>
                    <h6 class="skill-name">Celery</h6>
                  </div>
                </div>
                <div class="skill-container using col-md-1">
                  <div class="skill-content">
                    <img class="skill-icon" src="/assets/img/skills_icon/swagger.png" alt="swagger"><br>
                    <h6 class="skill-name">Swagger</h6>
                  </div>
                </div>
                <div class="skill-container using col-md-1">
                  <div class="skill-content">
                    <img class="skill-icon" src="/assets/img/skills_icon/mariadb.png" alt="mariadb"><br>
                    <h6 class="skill-name">Maria DB</h6>
                  </div>
                </div>
                <div class="skill-container using col-md-1">
                  <div class="skill-content">
                    <img class="skill-icon" src="/assets/img/skills_icon/mysql.png" alt="mysql"><br>
                    <h6 class="skill-name">MYSQL</h6>
                  </div>
                </div>
                <div class="skill-container using col-md-1">
                  <div class="skill-content">
                    <img class="skill-icon" src="/assets/img/skills_icon/linux.png" alt="linux"><br>
                    <h6 class="skill-name">Linux</h6>
                  </div>
                </div>
                <div class="skill-container using col-md-1">
                  <div class="skill-content">
                    <img class="skill-icon" src="/assets/img/skills_icon/ngnix.png" alt="ngnix"><br>
                    <h5 class="skill-name">Nginx</h5>
                  </div>
                </div>
                <div class="skill-container using col-md-1">
                  <div class="skill-content">
                    <img class="skill-icon" src="/assets/img/skills_icon/gunicorn.png" alt="gunicorn"><br>
                    <div style="font-size:92%; margin-top:7px;">Gunicorn</div>
                  </div>
                </div>
                <div class="skill-container col-md-1">
                  <div class="skill-content">
                    <img class="skill-icon" src="/assets/img/skills_icon/java.png" alt="java"><br>
                    <h6 class="skill-name">Java</h6>
                  </div>
                </div>
                <div class="skill-container col-md-1">
                  <div class="skill-content">
                    <img class="skill-icon" src="/assets/img/skills_icon/springboot.png" alt="springboot3"><br>
                    <div style="font-size:85%;line-height:135%;margin-top:3px;">Spring<br>Boot3</div>
                  </div>
                </div>
                <div class="skill-container col-md-1">
                  <div class="skill-content">
                    <img class="skill-icon" src="/assets/img/skills_icon/spring_framework.png" alt="spring_framework"><br>
                    <div style="font-size:77%;line-height:135%;margin-top:3px;">Spring<br>Framework</div>
                  </div>
                </div>
                <div class="skill-container col-md-1">
                  <div class="skill-content">
                    <img class="skill-icon" src="/assets/img/skills_icon/apache_tomcat.png" alt="apache_tomcat"><br>
                    <h6 class="skill-name">Tomcat</h6>
                  </div>
                </div>
                <div class="skill-container col-md-1">
                  <div class="skill-content">
                    <img class="skill-icon" src="/assets/img/skills_icon/oracledb.png" alt="oracledb"><br>
                    <h6 class="skill-name">Oracle</h6>
                  </div>
                </div>
              </div>
            
              <div class="col-md-6 row mt-3">
                {% comment %} Frontend {% endcomment %}
                <h3 class="skill-type" >Frontend</h3>
                <div class="skill-container using col-md-2">
                  <div class="skill-content">
                    <img class="skill-icon" src="/assets/img/skills_icon/javascript.png" alt="javascript"><br>
                    <h6 class="skill-name">Vanilla</h6>
                  </div>
                </div>
                <div class="skill-container using col-md-2">
                  <div class="skill-content">
                    <img class="skill-icon" src="/assets/img/skills_icon/jquery.png" alt="jquery"><br>
                    <h6 class="skill-name">jQuery</h6>
                  </div>
                </div>
                <div class="skill-container using col-md-2">
                  <div class="skill-content">
                    <img class="skill-icon" src="/assets/img/skills_icon/html5.png" alt="html5"><br>
                    <h6 class="skill-name">HTML5</h6>
                  </div>
                </div>
                <div class="skill-container using col-md-2">
                  <div class="skill-content">
                    <img class="skill-icon" src="/assets/img/skills_icon/css3.png" alt="css3"><br>
                    <h6 class="skill-name">CSS3</h6>
                  </div>
                </div>
                <div class="skill-container using col-md-2">
                  <div class="skill-content">
                    <img class="skill-icon" src="/assets/img/skills_icon/bootstrap.png" alt="bootstrap"><br>
                    <div style="font-size:86%;margin-top:8px;">Bootstrap</div>
                  </div>
                </div>
              </div>

              <div class="col-md-6 row mt-3">
                {% comment %} Tools {% endcomment %}
                <h3 class="skill-type">Tools</h3>
                <div class="skill-container using col-md-2">
                  <div class="skill-content">
                    <img class="skill-icon" src="/assets/img/skills_icon/github.png" alt="github"><br>
                    <h6 class="skill-name">Github</h6>
                  </div>
                </div>
                <div class="skill-container using col-md-2">
                  <div class="skill-content">
                    <img class="skill-icon" src="/assets/img/skills_icon/vscode.png" alt="vscode"><br>
                    <h6 class="skill-name">VSCode</h6>
                  </div>
                </div>
                <div class="skill-container using col-md-2">
                  <div class="skill-content">
                    <img class="skill-icon" src="/assets/img/skills_icon/dbeaver.png" alt="dbeaver"><br>
                    <h6 class="skill-name">DBeaver</h6>
                  </div>
                </div>
                <div class="skill-container col-md-2">
                  <div class="skill-content">
                    <img class="skill-icon" src="/assets/img/skills_icon/pycharm.png" alt="pycharm"><br>
                    <h6 class="skill-name">Pycharm</h6>
                  </div>
                </div>
                <div class="skill-container col-md-2">
                  <div class="skill-content">
                    <img class="skill-icon" src="/assets/img/skills_icon/intellij.png" alt="intellij"><br>
                    <h6 class="skill-name">IntelliJ</h6>
                  </div>
                </div>
                <div class="skill-container col-md-2">
                  <div class="skill-content">
                    <img class="skill-icon" src="/assets/img/skills_icon/eclipse.png" alt="eclipse"><br>
                    <h6 class="skill-name">Eclipse</h6>
                  </div>
                </div>
              </div>
            </div>


            {% comment %}  ===== experiance =====  {% endcomment %}
            <hr style="margin-top:100px;">
            <h1>My Experiance</h1>
            <ol class="total-ol" style="margin-top:50px;">
              <li class="title-li">GNC Solution 입사 (2022.08.18 ~ 재직중 : <span class="gnc-month"></span>)
                <ul class="content-ul">
                  <li class="content-li">
                    <span>Devops 팀 백엔드 파트 👩‍💻
                      <button class="btn-profile-more" id="my-career">More info
                        <div class="btn-icon-container">
                          <i class="fa-solid fa-arrow-right"></i>
                        </div>
                      </button>

                    </span>
                  </li>
                </ul>
              </li>
              <li class="title-li">
                AI 기반 챗봇 및 OCR 개발 전문가 과정 (2022.01 ~ 2022.06 : 약 6개월)
                <ul class="content-ul">
                  <li class="content-li"><span>기업 연계 Python 기반 국가 교육 과정</span></li>
                  <li class="content-li"><span>기업 참관 1, 2, 3차 팀 프로젝트</span></li>
                  <li class="content-li"><span>이론 및 프로젝트 평가 종합 성적 우수상 수상 🏆</span></li>
                  <li class="content-li"><span>주요 사용 기술 : Python, MYSQL, Django, Tensorflow, OpenCV, OCR</span></li>
                </ul>
              </li>
              <li class="title-li">
                정보처리기사 취득 📚 (2022.06.17) 
              </li>
              <li class="title-li">
                Java 웹 개발 과정 (2021.05 ~ 2021.10 : 약 6개월)
                <ul class="content-ul">
                  <li class="content-li"><span>1, 2차 팀 프로젝트</span></li>
                  <li class="content-li"><span>주요 사용 기술 : JAVA, Oracle, Spring Framework, JSP</span></li>
                </ul>
              </li>
              <li class="title-li">
                Java 프로그래밍 언어 (2021. 03 ~ 2021. 05: 약 3개월)
              </li>
            </ol>
        
            <hr style="margin-top:100px;">
            

            {% comment %}  ===== project =====  {% endcomment %}
            <h1>My Projects</h1>
            
            <h3 style="margin-top:50px;">Work Projects</h3>
            <h5 style="margin-top:20px;">GNC Solution Projects (2022.08.18 ~ 재직중 : <span class="gnc-month"></span>)</h5>
            <div class="row">
              <div class="project-card col-md-3" style="mb-5" id="emax">
                <div class="project-card-details">
                  <p class="card-text-title">EMAX</p>
                  <p class="card-text-body" style="color:gray;">Emax 외주 프로젝트</p>
                  <p class="card-text-body">시간별 전력 소모량 예측 MLOps</p>
                </div>
                <a class="project-card-button" href="javascript:;">More info</a>
              </div>
              <div class="project-card col-md-3" id="build-performance">
                <div class="project-card-details">
                  <p class="card-text-title">Build Performance</p>
                  <p class="card-text-body" style="color:gray;">Buildtec 외주 프로젝트</p>
                  <p class="card-text-body">BuildPay 앱 연동 채굴기 관리 앱</p>
                </div>
                <a class="project-card-button" href="javascript:;">More info</a>
              </div>
              <div class="project-card col-md-3" id="envisager">
                <div class="project-card-details">
                  <p class="card-text-title">Envisager</p>
                  <p class="card-text-body" style="color:gray;">GNC Solution 프로젝트</p>
                  <p class="card-text-body">디지털 작품 구매 및 판매 플랫폼</p>
                </div>
                <a class="project-card-button" href="javascript:;">More info</a>
              </div>
              <div class="project-card col-md-3" id="buildpay">
                <div class="project-card-details">
                  <p class="card-text-title">Buildpay</p>
                  <p class="card-text-body" style="color:gray;">Buildtec 외주 프로젝트</p>
                  <p class="card-text-body">가상 화폐 통합 전자 지갑 플랫폼</p>
                </div>
                <a class="project-card-button" href="javascript:;">More info</a>
              </div>
            </div>

            <h3 style="margin-top:50px;">Personal Projects</h3>
            <div class="row">
              <div class="project-card col-md-3" id="enjo-eat">
                <div class="project-card-details">
                  <p class="card-text-title">Enjo-eat</p>
                  <p class="card-text-body">이미지 크롤링과 카카오 api를 사용한<br> 맛집 뽑기 Django 프로젝트</p>
                </div>
                <a class="project-card-button" href="javascript:;">More info</a>
              </div>
            </div>
          </main>
        </div>

        <div class="row">
          <!-- tail -->
          <div id="tail-wrapper" class="col-12 col-lg-11 col-xl-9 px-md-4">
            {% for _include in layout.tail_includes %}
              {% assign _include_path = _include | append: '.html' %}
              {% include {{ _include_path }} lang=lang %}
            {% endfor %}

            {% include_cached footer.html lang=lang %}
          </div>
        </div>

        {% include_cached search-results.html lang=lang %}
      </div>

      <aside aria-label="Scroll to Top">
        <button id="back-to-top" type="button" class="btn btn-lg btn-box-shadow">
          <i class="fas fa-angle-up"></i>
        </button>
      </aside>
    </div>

    <div id="mask"></div>

    {% if site.pwa.enabled %}
      {% include_cached notification.html lang=lang %}
    {% endif %}

    <!-- JavaScripts -->

    {% include js-selector.html %}

    {% if page.mermaid %}
      {% include mermaid.html %}
    {% endif %}

    {% include_cached search-loader.html %}
  </body>
</html>
