---
layout: compress
---

<!doctype html>
<link href="/assets/css/custom/about_me.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="/assets/js/custom/about_me.js"></script>
{% include origin-type.html %}

{% include lang.html %}

{% if site.theme_mode %}
  {% capture prefer_mode %}data-mode="{{ site.theme_mode }}"{% endcapture %}
{% endif %}

<!-- `site.alt_lang` can specify a language different from the UI -->
<html lang="{{ site.alt_lang | default: site.lang }}" {{ prefer_mode }}>
  {% include head.html %}

  <body>
    {% include sidebar.html lang=lang %}

    <div id="main-wrapper" class="d-flex justify-content-center">
      <div class="container d-flex flex-column px-xxl-5">
        {% include topbar.html lang=lang %}
        
        <div class="row flex-grow-1">
          
          <main aria-label="Main Content" class="col-12 col-lg-11 col-xl-12 px-md-4">
            {{ content }}

            <h1>My Skills</h1>
            <div class="chip done" style="margin-top:50px;margin-bottom:30px;">
              <div></div>
              현재 사용중 입니다!
            </div>
            <div class="row">
              {% comment %} backend {% endcomment %}
              <div class="col-12 row">
                <h3 class="title">Backend</h3>
                <div class="skill-container using col-md-1">
                  <div class="skill-content">
                    <img class="skill-icon" src="/assets/img/skills_icon/python.png" alt="python"><br>
                    <h6 class="skill-name">Python</h6>
                  </div>
                </div>
                <div class="skill-container using col-md-1">
                  <div class="skill-content">
                    <img class="skill-icon" src="/assets/img/skills_icon/django.png" alt="django"><br>
                    <h6 class="skill-name">Django</h6>
                  </div>
                </div>
                <div class="skill-container using col-md-1">
                  <div class="skill-content">
                    <img class="skill-icon" src="/assets/img/skills_icon/drf.png" alt="drf"><br>
                    <h6 class="skill-name">DRF</h6>
                  </div>
                </div>
                <div class="skill-container using col-md-1">
                  <div class="skill-content">
                    <img class="skill-icon" src="/assets/img/skills_icon/graphql.png" alt="graphql"><br>
                    <h6 class="skill-name">GraphQL</h6>
                  </div>
                </div>
                <div class="skill-container using col-md-1">
                  <div class="skill-content">
                    <img class="skill-icon" src="/assets/img/skills_icon/celery.png" alt="celery"><br>
                    <h6 class="skill-name">Celery</h6>
                  </div>
                </div>
                <div class="skill-container using col-md-1">
                  <div class="skill-content">
                    <img class="skill-icon" src="/assets/img/skills_icon/swagger.png" alt="swagger"><br>
                    <h6 class="skill-name">Swagger</h6>
                  </div>
                </div>
                <div class="skill-container using col-md-1">
                  <div class="skill-content">
                    <img class="skill-icon" src="/assets/img/skills_icon/mariadb.png" alt="mariadb"><br>
                    <h6 class="skill-name">Maria DB</h6>
                  </div>
                </div>
                <div class="skill-container using col-md-1">
                  <div class="skill-content">
                    <img class="skill-icon" src="/assets/img/skills_icon/mysql.png" alt="mysql"><br>
                    <h6 class="skill-name">MYSQL</h6>
                  </div>
                </div>
                <div class="skill-container using col-md-1">
                  <div class="skill-content">
                    <img class="skill-icon" src="/assets/img/skills_icon/linux.png" alt="linux"><br>
                    <h6 class="skill-name">Linux</h6>
                  </div>
                </div>
                <div class="skill-container using col-md-1">
                  <div class="skill-content">
                    <img class="skill-icon" src="/assets/img/skills_icon/ngnix.png" alt="ngnix"><br>
                    <h5 class="skill-name">Nginx</h5>
                  </div>
                </div>
                <div class="skill-container using col-md-1">
                  <div class="skill-content">
                    <img class="skill-icon" src="/assets/img/skills_icon/gunicorn.png" alt="gunicorn"><br>
                    <div style="font-size:92%; margin-top:7px;">Gunicorn</div>
                  </div>
                </div>
                <div class="skill-container col-md-1">
                  <div class="skill-content">
                    <img class="skill-icon" src="/assets/img/skills_icon/java.png" alt="java"><br>
                    <h6 class="skill-name">Java</h6>
                  </div>
                </div>
                <div class="skill-container col-md-1">
                  <div class="skill-content">
                    <img class="skill-icon" src="/assets/img/skills_icon/springboot.png" alt="springboot3"><br>
                    <div style="font-size:85%;line-height:135%;margin-top:3px;">Spring<br>Boot3</div>
                  </div>
                </div>
                <div class="skill-container col-md-1">
                  <div class="skill-content">
                    <img class="skill-icon" src="/assets/img/skills_icon/spring_framework.png" alt="spring_framework"><br>
                    <div style="font-size:77%;line-height:135%;margin-top:3px;">Spring<br>Framework</div>
                  </div>
                </div>
                <div class="skill-container col-md-1">
                  <div class="skill-content">
                    <img class="skill-icon" src="/assets/img/skills_icon/apache_tomcat.png" alt="apache_tomcat"><br>
                    <h6 class="skill-name">Tomcat</h6>
                  </div>
                </div>
                <div class="skill-container col-md-1">
                  <div class="skill-content">
                    <img class="skill-icon" src="/assets/img/skills_icon/oracledb.png" alt="oracledb"><br>
                    <h6 class="skill-name">Oracle</h6>
                  </div>
                </div>
              </div>
            
              <div class="col-md-6 row mt-3">
                {% comment %} Frontend {% endcomment %}
                <h3 class="title" >Frontend</h3>
                <div class="skill-container using col-md-2">
                  <div class="skill-content">
                    <img class="skill-icon" src="/assets/img/skills_icon/javascript.png" alt="javascript"><br>
                    <h6 class="skill-name">Vanilla</h6>
                  </div>
                </div>
                <div class="skill-container using col-md-2">
                  <div class="skill-content">
                    <img class="skill-icon" src="/assets/img/skills_icon/jquery.png" alt="jquery"><br>
                    <h6 class="skill-name">jQuery</h6>
                  </div>
                </div>
                <div class="skill-container using col-md-2">
                  <div class="skill-content">
                    <img class="skill-icon" src="/assets/img/skills_icon/html5.png" alt="html5"><br>
                    <h6 class="skill-name">HTML5</h6>
                  </div>
                </div>
                <div class="skill-container using col-md-2">
                  <div class="skill-content">
                    <img class="skill-icon" src="/assets/img/skills_icon/css3.png" alt="css3"><br>
                    <h6 class="skill-name">CSS3</h6>
                  </div>
                </div>
                <div class="skill-container using col-md-2">
                  <div class="skill-content">
                    <img class="skill-icon" src="/assets/img/skills_icon/bootstrap.png" alt="bootstrap"><br>
                    <div style="font-size:86%;margin-top:8px;">Bootstrap</div>
                  </div>
                </div>
              </div>

              <div class="col-md-6 row mt-3">
                {% comment %} Tools {% endcomment %}
                <h3 class="title">Tools</h3>
                <div class="skill-container using col-md-2">
                  <div class="skill-content">
                    <img class="skill-icon" src="/assets/img/skills_icon/github.png" alt="github"><br>
                    <h6 class="skill-name">Github</h6>
                  </div>
                </div>
                <div class="skill-container using col-md-2">
                  <div class="skill-content">
                    <img class="skill-icon" src="/assets/img/skills_icon/vscode.png" alt="vscode"><br>
                    <h6 class="skill-name">VSCode</h6>
                  </div>
                </div>
                <div class="skill-container using col-md-2">
                  <div class="skill-content">
                    <img class="skill-icon" src="/assets/img/skills_icon/dbeaver.png" alt="dbeaver"><br>
                    <h6 class="skill-name">dBeaver</h6>
                  </div>
                </div>
                <div class="skill-container col-md-2">
                  <div class="skill-content">
                    <img class="skill-icon" src="/assets/img/skills_icon/pycharm.png" alt="pycharm"><br>
                    <h6 class="skill-name">Pycharm</h6>
                  </div>
                </div>
                <div class="skill-container col-md-2">
                  <div class="skill-content">
                    <img class="skill-icon" src="/assets/img/skills_icon/intellij.png" alt="intellij"><br>
                    <h6 class="skill-name">IntelliJ</h6>
                  </div>
                </div>
                <div class="skill-container col-md-2">
                  <div class="skill-content">
                    <img class="skill-icon" src="/assets/img/skills_icon/eclipse.png" alt="eclipse"><br>
                    <h6 class="skill-name">Eclipse</h6>
                  </div>
                </div>
              </div>
            </div>



            <hr style="margin-top:100px;">
            <h1>My Experiance</h1>
            <ol class="total-ol" style="margin-top:50px;">
              <li class="title-li">GNC Solution 입사 (2022.08.18 ~ 현재 : 약 1년 9개월)
                <ul class="content-ul">
                  <li class="content-li"><span>Devops 팀 백엔드 파트</span></li>
                </ul>
              </li>
              <li class="title-li">
                AI 기반 챗봇 및 OCR 개발 전문가 과정 (2022.01 ~ 2022.06 : 약 6개월)
                <ul class="content-ul">
                  <li class="content-li"><span>기업 연계 Python 기반 국가 교육 과정</span></li>
                  <li class="content-li"><span>기업 참관 1, 2, 3차 팀 프로젝트</span></li>
                  <li class="content-li"><span>주요 사용 기술 : Python, MYSQL, Django, Tensorflow, OpenCV, OCR</span></li>
                </ul>
              </li>
              <li class="title-li">
                Java 웹 개발 과정 (2021.05 ~ 2021.10 : 약 6개월)
                <ul class="content-ul">
                  <li class="content-li"><span>1, 2차 팀 프로젝트</span></li>
                  <li class="content-li"><span>주요 사용 기술 : JAVA, Oracle, Spring Framework, JSP</span></li>
                </ul>
              </li>
              <li class="title-li">
                Java 프로그래밍 언어 (2021. 03 ~ 2021. 05: 약 3개월)
              </li>
            </ol>
        
            <hr style="margin-top:100px;">
            
            <h3 style="margin-top:50px;">Personal Projects</h3>
            <div class="row">
              <div class="card col-md-3" >
                <div class="card-details">
                  <p class="text-title">Enjo-eat</p>
                  <p class="text-period">2022.09.20 ~ 2022.10.16</p>
                  <p class="text-body">크롤링과 카카오 api를 사용한 맛집 뽑기 사이트</p>
                  <div class="star-rating"> 기여도
                    <input type="radio" class="star" checked>
                    <input type="radio" class="star" checked>
                    <input type="radio" class="star">
                    <input type="radio" class="star">
                    <input type="radio" class="star">
                  </div>
                </div>
                <a class="card-button" href="javascript:;">More info</a>
              </div>
              <div class="card col-md-3">
                <div class="card-details">
                  <p class="text-title">Short Quiz</p>
                  <p class="text-body">크롤링과 카카오 api를 사용한 맛집 뽑기 사이트</p>
                </div>
                <a class="card-button" href="javascript:;">More info</a>
              </div>
            </div>
            
            <h1>My Projects</h1>
            <h3 style="margin-top:50px;">Work Projects</h3>
            <div class="row">
              <div class="card col-md-3" >
                <div class="card-details">
                  <p class="text-title">Buildpay</p>
                  <p class="text-body">전자 지갑 플랫폼</p>
                </div>
              </div>
              <div class="card col-md-3">
                <div class="card-details">
                  <p class="text-title">Short Quiz</p>
                  <p class="text-body">크롤링과 카카오 api를 사용한 맛집 뽑기 사이트</p>
                </div>
              </div>
            </div>
          </main>
        </div>

        <div class="row">
          <!-- tail -->
          <div id="tail-wrapper" class="col-12 col-lg-11 col-xl-9 px-md-4">
            {% for _include in layout.tail_includes %}
              {% assign _include_path = _include | append: '.html' %}
              {% include {{ _include_path }} lang=lang %}
            {% endfor %}

            {% include_cached footer.html lang=lang %}
          </div>
        </div>

        {% include_cached search-results.html lang=lang %}
      </div>

      <aside aria-label="Scroll to Top">
        <button id="back-to-top" type="button" class="btn btn-lg btn-box-shadow">
          <i class="fas fa-angle-up"></i>
        </button>
      </aside>
    </div>

    <div id="mask"></div>

    {% if site.pwa.enabled %}
      {% include_cached notification.html lang=lang %}
    {% endif %}

    <!-- JavaScripts -->

    {% include js-selector.html %}

    {% if page.mermaid %}
      {% include mermaid.html %}
    {% endif %}

    {% include_cached search-loader.html %}
  </body>
</html>
